sudo: false
dist: trusty

language: node_js
node_js:
  - "6"

addons:
  chrome: stable

install:
  - npm install

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/53eb4761db0a361a94a1
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: false     # default: false
